.deepspeed_env
.vscode/
build/
onnx/
output/
runs*
log*
!common/logging.py
tmp*
*.pkl
*.pth
*.onnx
*.bin
*.trt
*.log
*.json
!configs/deepspeed/*.json
*.jpg
*.jpeg
*.egg
*.egg-info
*.so
*.png
!assets/overview3.png
!assets/coworld-vla-logo.png
!assets/future-scene-generation.png
*.mp4
*.avi
*.pyc
*__pycache__*
*.idea
*.csv
*.lmdb
*.data
*.npy
.tmp
lightning_logs/
debug_vis*
eval_vis.sh
*debug*
build/
*output*
